/* Snackbar */
body {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 360px;
    max-width: 100%;
  }
  
 input,fieldset,button {
    width: 100%;
    
 } 
.delay {
  gap: 8px;
}
 label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
    text-align: left;
  }

  input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }

  input:hover {
    border-color: black;
  }

  input:focus {
    border-color: #2196f3;
  }

  fieldset {
    border: 1px solid #ddd;
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
    padding-left: 48px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
  }

 
  legend {
    font-size: 16px;
    color: #555;

  }

  button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4E75FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
  }
  
   button:hover {
    background-color: #6c8cff;
  }
  